
/*
.btn {
    vertical-align: middle;
}
.navbar {
    background-color: rgb(43,47,54);
}*/
#editor {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  position: absolute;
  top:52px; /*52 ? navbar*/
  bottom: 0px;
  width:100%;
}
#content {
  height: 100%;
}
#md-title {
  width: 49%;
  resize: none;
  outline: none;
  border: none;
  font-family: 'Monaco', courier, monospace;
}

#md-content, #md-render {
  /*display: inline-block;*/
  height: 100%;
  /*vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  padding-left:10px;
  overflow: auto;
}

#md-content {
  /*border: none;
  border-right: 1px solid #ccc;
  border: 1px solid rgb(232,232,232);
  resize: none;
  outline: none;
  background-color: #f6f6f6;*/
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  width: 49%;
  float: left;
}

#md-render {
  border: 1px solid rgb(232,232,232);
  width: 50%;
  float: right;
}

/*
#md-content, #md-render {
  display: inline-block;
  width: 49%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  
  padding: 20px;
  resize: none;
  outline: none;
  border: none;
}
*/
/*
textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}
*/
